
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    background-blend-mode: normal, lighten, soft-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-home {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 55px;
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.darkMode {
    background-color: #1b1b1b !important;
    color: #f8f8f8;
}

.resetBtn {
    font-family: "Silkscreen", sans-serif;
    font-size: 12px;
    padding: 8px;
    margin-top: 20px;
    border-radius: 12px;
}

.container {
    font-family: "Silkscreen", sans-serif;
    height: auto;
    width: 700px;
    border: 2px solid #363636;
    background-color: #838383;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 17px;
    border-radius: 27px;
}

#edadMinima {
    color: #d42c2c;
    font-size: 12px;
}

#btnContainer {
    background-color: #d6d5d5;
    display: flex;
    justify-content: space-around;
    height: 60px;
    border-radius: 15px;
}

.gameBtn {
    border-radius: 15px;
    margin: 8px 2px;
    box-shadow: 2px 2px 5px #363636;
    font-size: 17px;
    font-family: "Silkscreen", sans-serif;
}

.gameContainer {
    font-family: "Silkscreen", sans-serif;
    height: auto;
    width: 800px;
    border: 2px solid #363636;
    background-color: #838383;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 17px;
    border-radius: 27px;
}
.hidden {
    display: none;
}

.cardContainer {
    display: flex;
    flex-direction: wrap;
    font-size: 26px;
}

.cardContainer p {
    margin: 3px 8px 3px 8px;
    background-color: #c9c5c5;
    height: 50px;
    width: 35px;  
}

.form-container {
    font-size: 25px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 8px;
    margin-top: 10px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    font-size: 24px;
}

#nombre, #edad {
    font-family: "Silkscreen", sans-serif;
    font-size: 18px;
    transition: ease-in 0.2s;
    border-radius: 10px;
}
#nombre:focus, #edad:focus {
    font-size: 22px;
    color: #BDBBBE;
    background-color: #363636;
    border-radius: 0;
}

.btn {
    height: 36px;
    width: 112px;
    border: 2px solid #363636;
    border-radius: 36px;
    margin: 5px 0px 8px;
    padding: 3px;
    background: linear-gradient(90deg, #c01111, #363636);
    color: #e9e9e9;
    font-size: 20px;
    transition: ease-in-out 200ms;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(90deg, #5a5a5a, #e73030);
    font-size: 22px;    
}

img {
    height: 450px;
    width: auto;
}